# Database Configuration
DATABASE_URL="postgresql://username:password@localhost:5432/database_name"

# Mailtrap (API token from https://mailtrap.io/api-tokens)
MAILTRAP_API_TOKEN=3d45e67e252ea51de2eefddd006a3676